

<div class="container">
  <div class="row">
    <h1>Listado de Facturas</h1>
   <%= link_to 'Nueva Factura', new_invoice_path, style:"float:right; color:white",class: "btn btn-success" %>
  </div>
</div> <br>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= form_tag invoices_path, method: :get do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "fecha de factura" %>
        </div>
        <div class="form-group">
          <%= select_tag :shop_id, options_from_collection_for_select(Shop.all, "id", "name", params[:shop_id]), prompt: "seleccione la tienda", class: "form-control" %>
        </div>

        <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
      <% end %>
    </div>
    <div class="col-sm-9">
      <table class="table" id="transactions">
        <thead>
          <tr>
            <th>Fecha</th>
            <th># factura</th>
            <th class="text-right">tienda</th>
            <th class="text-right">total</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td class="date">
                <div class="day"><%= l(invoice.date, format: "%d") %></div>
                <div class="month"><%= l(invoice.date, format: "%b") %></div>
              </td>
              <td class="serial"><%= invoice.serial %></td>
              <td class="category text-right"><%= invoice.shop.name %></td>
              <td class="text-right amount" style="width: 170px;"><%= number_to_currency(invoice.total, precision: 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>